<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

{f:if(condition: '{data.background_color_class} == "none"', then: 'dark', else: '{data.background_color_class}') -> f:variable(name: 'color')}

    <div
        id="{f:if(condition:configuration.customId, then:configuration.customId, else: 'c{data.uid}')}"
        class="{f:if(condition:configuration.customClass, then:configuration.customClass, else:'container')} {color}">
        <f:for each="{children_101}" as="record">
            <f:format.raw>{record.renderedContent}</f:format.raw>
        </f:for>
    </div>
</html>
